.edit {
  padding: 20px 0;

  &__title {
    min-height: 50px;
    width: 100%;
    margin-bottom: 10px;
    resize: vertical;
    font-size: inherit;
  }

  &__body {
    div {
      margin-bottom: 10px;
    }
  }

  button {
    margin-right: 10px;

    @media (max-width: 416px) {
      padding: 5px;
    }
  }

  &__image {
    object-fit: contain;
    width: 100%;
    max-height: 600px;
  }

  label {
    @media (max-width: 416px) {
      padding: 5px;
    }
  }
}

.edit > div {
  margin-bottom: 20px;
}

textarea {
  background: inherit;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
  font-size: inherit;
  line-height: 1.5;
  padding: 8px 0;
  resize: none;
  transition: border-color 150ms ease;
  width: 100%;
  font-family: inherit;
}

textarea:hover {
  border-bottom: 2px solid black;
}

textarea:focus {
  outline: none;
  border-bottom: 2px solid #1976d2;
}
