.root {
  border-radius: 100px;
  display: flex;
  background-color: #e5e5e5;
  margin: 50px 0;
  position: relative;
  min-height: 300px;

  @media (max-width: 540px) {
    flex-direction: column;
    min-height: 480px;
    border-radius: 50px;
  }

  &:hover {
    box-shadow: 1px 5px 40px #4160ea;
    transition: box-shadow 0.25s ease;
    cursor: pointer;

    .editButtons {
      opacity: 1;
    }
  }

  &Full {
    display: block;

    &:hover {
      border: 0px;
      box-shadow: none;
      cursor: default;
      transition: none;
    }
  }

  .post {
    &__image {
      height: 300px;
      width: 100%;
      min-width: 100px;
      object-fit: cover;

      &Full {
        width: 100%;
        min-height: 500px;
        max-height: 900px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px 0;
      padding: 0 15px;
      width: 100%;
      max-width: 550px;

      @media (max-width: 540px) {
        height: 100%;
        margin-left: 0;
        padding: 0 20px;
        margin-top: 15px;
      }

      &Full {
        margin-left: 0;
        padding: 50px;
        max-width: 100%;

        @media (max-width: 470px) {
          padding: 30px;
        }
      }
    }

    &__content div {
      margin-bottom: 10px;
    }

    &__body {
      display: none;
      &Full {
        display: block;
        font-size: 25px;
      }
    }

    &__title {
      position: relative;
      font-size: 30px;
      font-weight: 500;
      line-height: 1em;

      :hover {
        color: inherit;
        text-decoration: underline;
      }

      @media (max-width: 600px) {
        font-size: 25px;
      }

      &Full {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        text-decoration: none;
        color: black;

        @media (max-width: 470px) {
          font-size: 30px;
        }
      }
    }

    &__text {
      font-weight: 400;
    }

    &__user {
      display: flex;
      align-items: center;

      @media (max-width: 600px) {
        flex-wrap: wrap;
      }

      &Full {
        flex-direction: row;
        align-items: center;
      }

      > div {
        margin: 0 5px;
        font-size: 20px;
      }
    }

    &__userIMG {
      width: 30px;
    }

    &__details {
      margin: 0;
      padding: 0;

      @media (max-width: 600px) {
        margin: 0;
      }
    }

    &__details > li {
      display: inline-flex;
      list-style: none;
      align-items: center;
      margin-right: 10px;
    }
  }

  .editButtons {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  margin-bottom: 15px;
  height: 300px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}
